html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	width: 100vw;
	height: 100vh;

	/* center vertically */
	justify-content: center;
	align-content: center;

	/* background behind the plot */
	background-color: rgb(40, 40, 40);

	/* default text */
	font-family: sans-serif;
	font-size: 1.1rem;
}

form {
  position: absolute;
  right: 1%;
  z-index: 1;
}

.container {
	background-color: rgb(40, 40, 40);
}

#graph {
  max-width: 100%;
  height: 90%;
  margin: auto;
}

#time_slider {
	max-width: 90%;
	height: 5%;
	margin: auto;
}
