---
---

@import "jekyll-theme-tactile";

:root {
	--back_color: rgb(40, 40, 40);
	--title_color: rgb(117, 117, 117);
	--header_color: rgb(200, 200, 200);
	--text_color: rgb(214, 214, 214);
}

body {
	color: var(--text_color);
	background: var(--back_color);


	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
}

header h1 {
	color: var(--title_color);
}

h1 {
	color: var(--header_color);
}

.inner {
	width: 60%;
}

.row {
    height: 90%;
}

#container {
	background: var(--back_color);
}

#popularity_viz {
    height: 500px;
}

#news_viz {
    height: 500px;
		display: inline-block;
}

#popularity_graph {
  max-width: 100%;
  height: 100%;
  margin: auto;
}

#popularity_time_slider {
    max-width: 90%;
    height: 10%;
    margin: auto;
}

#map_container{
  margin-left: -37%;
}

#svg_map {
	width: 100%;
	height: auto;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  font-size: 12px;
  padding: 10px;
  background: white;
  border: 0;
  border-radius: 5px;
  pointer-events: none;
}

.toolTipText {
  color: black;
  margin-bottom: 3px;
}
