---
---

@import "jekyll-theme-tactile";

:root {
	--back_color: rgb(40, 40, 40);
	--title_color: rgb(117, 117, 117);
	--header_color: rgb(200, 200, 200);
	--text_color: rgb(214, 214, 214);
}

body {
	color: var(--text_color);
	background: var(--back_color);
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
  font-family: "Courier New";
}

header h1 {
  text-align: center;
  color: var(--title_color);
}

h1 {
	color: var(--header_color);
}

g {
  height: 100%;
}

p {
  margin: 0;
}

.col-sm-2 {
  padding: 0;
}

.col-sm-2 p {
  text-align: center;
}

.inner {
	width: 60%;
}

.row {
  width: 100%;
  height: 45%;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.node_selector {
  width: 100%;
  height: 3%;
  margin-bottom: 2%;
}

.container {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.graph {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 0;
}

.slider {
  max-width: 90%;
  height: 9%;
  margin: auto;
  margin-top: 1%;
}

.chart_container {
  height: 50%;
}

.chart {
  height: 95%;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  font-size: 12px;
  padding: 10px;
  background: white;
  border: 0;
  border-radius: 5px;
  pointer-events: none;
}

.toolTipText {
  color: black;
  margin-bottom: 3px;
}

#container {
  width: 90%;
	background: var(--back_color);
}

#main_content {
  width: 100%;
  height: 95%;
}

#popularity_viz {
  height: 100%;
  display: inline-block;
}

#news_viz {
  height: 80%;
	display: inline-block;
}

#map_container{
  padding: 0;
}

#svg_map {
	width: 100%;
	height: 100%;
}

#play_button {
  height: 100%;
}

#nodes_text {
  height: 100%;
}

#news_info {
  height: 35%;
}

#news_stats {
  padding: 0;
}

#popularity_container {
  height: 70%;
}
